<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Campus Chat</title>

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/css/boilerplate.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/clearfix_and_print.css">

  <script src="/js_vendor/modernizr-2.0.6.min.js"></script>
</head>

<body>

 <div id="content">
   <div id="nav">
    <ul id="tabs">
      <li class="new">
        <a href="#" class='join' style="white-space:nowrap">
          <span class="plus">+<span class="slide-out" style="margin-left:18px;">Create or Join Room</span></span>
        </a>
        <ul id="rooms-list"></ul>
      </li>
      <li class='clear'></li>
    </ul>
    <div id="top-right">
      <a href="#" class="avatar">
        <img src="/imgs/user_icon.png">
      </a>
      <ul class="options" style="display:none">
        <li><a href="#" id="logout">Logout</a></li>
        <li><a href="#" id="change-name">Change Display Name</a></li>
      </ul>
    </div>
  </div>

  <table id="body">
    <tbody>
      <tr>
        <td><div id="chat"></div></td>
        <td id="side-panel" style="width:245px">
          <ul id="users"></ul>
        </td>
      </tr>
    </tbody>
  </table>

 <table id="bottom">
   <tr>
     <td>

   <div id="enter">
     <table>
       <tr>
         <td><textarea></textarea></td>
         <td class="button-cell"><button type="button">Send</button></td>
       </tr>
     </table>
   </div>

  </td>
  <td id="side-bar-bottom" style="width:245px">
   <div id="user-count"><img src="imgs/usercount.png"> <span id="user-count-num">0</span> users</div>
  </td>
</tr>
</table>


 </div>

</div>

 <div id="test" style="position:absolute;top:-9000;left:-9000;display:none;overflow:visible"></div>
 <div id="modal-dialogue" style="display:none"></div>
 <div id="modal-dialogue-message" style="display:none">Message</div>

 <!-- templates -->
 <script id="single-chat" type="text/html">
<% if (yours) { %>
<div class="yours chat-item">
<% } else { %>
<div class="chat-item">
<% } %>
  <table>
    <tr>
      <th class="name"><%= name %></th>
      <td class="main">
        <span class="time"><%= time %></span>
        <p class="text"><%= text %></p>
      </td>
    </tr>
  </table>
</div>

 </script>

 <script id="room-tab" type="text/html">
<li class="<%= domClass %> slide-out" style="display:none">
  <a href="#" class="room">
    <span class="name"><%= room %></span>
    <span class="num-unread"></span>
    <span class="num-mentions"></span>
  </a>
  <% if (org !== room) { %>
    <a href="#" class="close"><img src="/imgs/close_x.png" width="21px" height="21px"></a>
  <% } %>
</li>
 </script>

 <script id="dialogue-window" type="text/html">
<div class="dialogue <%= domClass %>"></div>
 </script>

 <script id="user-list-items" type="text/html">
<% for (var i=0, user = list[i]; i < list.length; user = list[++i]) { %>
<li>
    <%= user.handle %>
</li>
<% } %>
 </script>

 <script id="rooms-list-items" type="text/html">
  <li class="input"><span class="prepend">#</span><input placeholder="Create New Room or Join it!" style="width:160px"></li>
  <% if (list.length > 0) { %>
    <li class="label-item">Top <%= list.length %> Rooms</li>
    <% for (var i=0, room = list[i]; i < list.length; room = list[++i]) { %>
      <li><a href="#"><span class="roomName"><%= room.name %></span> (<%= room.numUsers %>)</a></li>
    <% } %>
    </optgroup>
  <% } %> 
 </script>

 <script id="change-name-form" type="text/html">
<div id="change-name-form">
  <h3>Change Name</h3>
  <input placeholder="new name" class="new-name" maxlength="30">
  <div class="buttons">
    <button type="button" class="change">Change</button>
    <button type="button" class="cancel">Cancel</button>
  </div>
</div>
 </script>

  <script src="jquery-1.6.1.min.js"></script>

  <!-- Grab Google CDNs jQuery, with a protocol relative URL; fall back to local if offline
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="jquery-1.2.6.min.js"><\/script>')</script>
//var _gaq=[['_setAccount','UA-25594865-1'],['_trackPageview'],['_trackPageLoadTime']]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js'; s.parentNode.insertBefore(g,s)}(document,'script'));
  -->

  <script src="nowjs/now.js"></script>
  <script src="/js_vendor/underscore-min.js"></script>
  <script src="lib.js"></script>
  <script defer src="chat.js"></script>

  <script>

$(function() {
  initChat('{{html org}}', {{html JSON.stringify(user)}}, {{html JSON.stringify(rooms)}}, '{{html room}}');
});
  </script>

 <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
