<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Campus Chat</title>

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/css/boilerplate.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/clearfix_and_print.css">
  
  <script src="/js_vendor/modernizr-2.0.6.min.js"></script>
</head>

<body>

 <div id="content">
   
    <ul id="tabs">
      <li class="active room-1"><a href="#" class="room">${ room }</a></li>
      <li class="new">
        <a href="#" class='join'>
          <span class="plus">+</span><span class="slide-out">Create or Join Room</span>
        </a>
        <ul id="rooms-list"></ul>
      </li>
      <li class='clear'></li>
    </ul>
    
   <div id="chat">
     <div class="scroller">
       <div class="dialogue room-1"></div>
     </div>
   </div>
   <div id="side-panel">
      <div class="scroller">
        <ul id="users"></ul>
      </div>
   </div>
 </div>

 <div id="enter">
   <input type="text">
   <button type="button">Send</button>
 </div>

 <div id="test" style="position:absolute;top:-9000;left:-9000;display:none;overflow:visible"></div>

 <!-- templates -->
 <script id="single-chat" type="text/html">
<div>
 <span class="time"><%= time %></span>
 <span class="name">
   <% if (linkName) { %>
     <a href="#"><%= name %></a>
   <% } else { %>
     <%= name %>
   <% } %>
 </span>
 <span class="text"><%= text %></span>
</div>
 </script>

 <script id="room-tab" type="text/html">
<li class="<%= domClass %> slide-out" style="display:none">
  <a href="#" class="room"><%= room %></a>
  <a href="#" class="close">x</a>
</li>
 </script>

 <script id="dialogue-window" type="text/html">
<div class="dialogue <%= domClass %>"></div>
 </script>

 <script id="user-list-items" type="text/html">
<% for (var i=0, user = list[i]; i < list.length; user = list[++i]) { %>
<li>
  <a href="#" class="user" data-user-email="<%= user.email %>">
    <%= user.handle %>
  </a>
</li>
<% } %>
 </script>

 <script id="rooms-list-items" type="text/html">
<% for (var i=0, room = list[i]; i < list.length; room = list[++i]) { %>
  <li><a href="#"><span class="roomName"><%= room.name %></span> (<%= room.numUsers %>)</a></li>
<% } %>
  <li class="input"><span class="prepend">#</span><input placeholder="Create New Room or Join it!" style="width:160px"></li>
 </script>


  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script src="nowjs/now.js"></script>
  <script src="/js_vendor/underscore-min.js"></script>
  <script src="lib.js"></script>
  <script defer src="chat.js"></script>

  <script>
var _gaq=[['_setAccount','UA-25594865-1'],['_trackPageview'],['_trackPageLoadTime']]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js'; s.parentNode.insertBefore(g,s)}(document,'script'));

$(function() {
  initChat('${ room }', { handle: "${ user.handle }", email: "${ user.email }" });
});
  </script>

 <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
