

export CC_SMTP_HOST='smtp.server.net'
export CC_SMTP_USERNAME='username'
export CC_SMTP_PASSWORD='password'
export CC_EMAIL_FROM='abuggia@gmail.com'
export CC_EMAIL_FROM_DOMAIN='example.net'
export MONITORING_EMAIL='abuggia@gmail.com'
export ROOT_URL='localhost:3000'
export MONGO_URI='mongodb://localhost/db'
